@page "/countries"
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Paises</h3>

<FilterComponent 
    NewEntityUrl="/countries/create" 
    EntityName="País"
    BackButtonVisible=false
    OnFilterChanged="HandleFilterChanged"
    LoadAsyncParameter="LoadAsync"
    SelectedPage="SelectedPageAsync"/>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />

<GenericList MyList="countries">
    <NoRecords>
        <p>Aun no hay países registrados.</p>
    </NoRecords>
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th style="width:210px">Departamentos / Estados</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in countries!)
                {
                    <tr>
                        <td><a href="/countries/details/@country.Id">@country.Name</a></td>
                        <td>@country.StatesNumber</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/countries/edit/@country.Id">Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(country))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    private List<Country>? countries;
    private int currentPage = 1;
    private int totalPages;
    private string filter = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;
        
    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task SelectedPageAsync(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        var ok = await LoadListAsync(page);
        if (ok)
        {
            await LoadPagesAsync();
        }
    }

    private async Task<bool> LoadListAsync(int page)
    {
        var url = $"/api/countries?page={page}";
        if (!string.IsNullOrEmpty(filter))
        {
            url += $"&filter={filter}";
        }

        var response = await repository.GetAsync<List<Country>>(url);

        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }
        countries = response.Response;
        return true;
    }

    private async Task LoadPagesAsync()
    {
        var url = "/api/countries/totalPages";
        if (!string.IsNullOrEmpty(filter))
        {
            url += $"?filter={filter}";
        }

        var response = await repository.GetAsync<int>(url);

        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        totalPages = response.Response;
    }

    private async Task HandleFilterChanged(string newFilter)
    {
        filter = newFilter; // Actualizar el filtro en el componente Countries
        await LoadAsync(); // Recargar la lista con el nuevo filtro
        await SelectedPageAsync(currentPage); // Mantener la página actual después de cambiar el filtro
    }

    private async Task DeleteAsync(Country country)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estás seguro que quieres borrar el país: {country.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"/api/countries/{country.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadAsync();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
