@page "/specialities/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Nueva Especialidad</h3>

<SpecialityForm @ref="specialityForm" Speciality="speciality" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private Speciality speciality = new();
    private SpecialityForm? specialityForm;

    private async Task CreateAsync()
    {
        var response = await repository.PostAsync("/api/specialities", speciality);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito.");
    }

    private void Return()
    {
        specialityForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/specialities");
    }
}
