<div class="card mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div>
                    <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" MaxWithImg="45" />
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="mb-4"><strong>Nombre:</strong> @Client.User.FullName</p>
                    <p class="mb-4"><strong>Email:</strong> @Client.User.Email</p>
                </div>
                <div class="mx-2">
                    <a href="EditUser" class="btn btn-primary"><i class=""></i> Actualizar</a>
                </div>
            </div>
        </div>
    </div>    
</div>

@code {
    [Parameter]
    public Client Client { get; set; } = null!;

    private string? imageUrl;

    private void ImageSelected(string imagenBase64)
    {
        Client.User.Photo = imagenBase64;
        imageUrl = null;
    }
}
